@import '../../../assets/styles/variables';

.list-item {
  padding: 10px;
  font-size: 16px;
  line-height: 1;

  &:hover {
    background-color: $hover-colour;
  }

  & .checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 6px 0;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    & .custom-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border: 2px solid $main-text-colour;
      border-radius: 1px;
      background-color: transparent;

      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    &:hover input ~.custom-checkbox {
      background-color: transparent;
    }

    /* When the checkbox is checked, add a blue background */
    & input:checked ~.custom-checkbox {
      background-color: $main-text-colour;
    }

    /* Show the checkmark when checked */
    & input[type="checkbox"]:checked~.custom-checkbox:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    & .custom-checkbox:after {
      left: 4px;
      top: 0;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
  }


}