// Colours

$main-body-colour: #FFFFFF;
$main-text-colour: #707070;
$main-border-colour: #BBBBBB;
$shadow-colour: #B7B7B7;
$hover-colour: #FAFAFA;

// Font-family

$font-family: "Open Sans", Lato, "Source Sans", Roboto, sans-serif;
