<div>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input class="accordion" type="checkbox" id="check1" />
          <label class="tab-label" for="check1">
            <div
              *ngIf="
                selectedOptionsList.length > 0;
                then showSelectedOptions;
                else showLabelOnly
              "
            ></div>
            <ng-template #showSelectedOptions>
              <span
                *ngFor="
                  let option of selectedOptionsList;
                  index as index;
                  trackBy: trackByOptionKey
                "
              >
                {{ option.value }}
              </span>
            </ng-template>
            <ng-template #showLabelOnly>
              <span>Some default label</span>
            </ng-template>
          </label>
          <div class="tab-content">
            <div class="list-header">
              <input
                type="text"
                name="searchInput"
                class="search-input"
                placeholder="Search"
                [(ngModel)]="searchInput"
                (ngModelChange)="onSearchInputChanged($event)"
              />
              <button
                (click)="onClearText()"
                [disabled]="searchInput.length === 0"
              >
                Add 'X' icon here
              </button>
              <button
                [disabled]="selectedOptionsList.length === data.length"
                (click)="onSelectAll(true)"
              >
                Select All
              </button>
              <button
                [disabled]="selectedOptionsList.length === 0"
                (click)="onSelectAll(false)"
              >
                Select None
              </button>
            </div>
            <div class="list-body">
              <app-listitem
                *ngFor="
                  let option of optionsList;
                  index as index;
                  trackBy: trackByOptionKey
                "
                [option]="option"
                [index]="index"
                (toggleOption)="toggleOption($event)"
              >
              </app-listitem>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
