@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

// General
body {
  color: $main-text-colour;
  background: $main-body-colour;
  padding: 0 1em 1em;
  font-family: $font-family;
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}

.accordion {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// Layout
.row {
  display: flex;

  .col {
    flex: 1;

    &:last-child {
      margin-left: 1em;
    }
  }
}

/* Accordion styles */
.tabs {
  overflow: hidden;
  @include layout-box-shadow;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;

  &-header {
    background: $main-text-colour;
    height: 50px;
    .tab-label {      
      cursor: default;
      display: inline-block;
      padding:0;
      margin: 15px;
      position: relative;
      width: 85%;
    }

    &::after {
      content: "\25BE";
      position: absolute;
      text-align: center;
      transition: all 0.35s;
      margin: 0;
      top: 3%;
      right: 10%;
    }
  }



  &-content {
    max-height: 0;
    color: $main-text-colour;
    background: white;
    transition: all 0.35s;

    & .list-header {
      padding: 10px;
      border-bottom: 1px solid $main-border-colour;
    }

    & .list-body {
      margin-top: 15px;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 5px;
      max-height: 40vh;
    }
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $main-text-colour;
    cursor: pointer;

    &:hover {
      background: darken($main-text-colour, 10%);
    }
  }
}



// :checked
input:checked {
  +.tab-header {
    .tab-label {
      width: 85%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &::after {
      content: "\25B4";
    }
  }

  ~.tab-content {
    max-height: 100vh;
    padding: 5px;
  }
}

.list-header {
  .search {
    padding: 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $main-border-colour;

    .search-input {
      width: 80%;
      height: 30px;
      padding: 2px 10px;
      border: none;
    }

    button {
      border: none;
      width: 10%;
      height: 35px;
      background-color: $main-body-colour;
      cursor: pointer;
    }
  }

  .select-buttons {
    & button {
      @include button;

      &:disabled {
        @extend button;
        @include button-disabled;
      }
    }
  }
}