<div>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="check1" />
          <label class="tab-label" for="check1">
            <div
              *ngIf="
                selectedOptionsList.length > 0;
                then showSelectedOptions;
                else showLabelOnly
              "
            ></div>
            <ng-template #showSelectedOptions>
              <span *ngFor="let option of selectedOptionsList">
                {{ option.value }}
              </span>
            </ng-template>
            <ng-template #showLabelOnly>
              <span>Label Only</span>
            </ng-template>
          </label>
          <div class="tab-content">
            <div class="list-header">
              <app-listitem [option]="selectAll"></app-listitem>
              <app-listitem [option]="selectNone"></app-listitem>
            </div>
            <app-optionslist [optionsList]="optionsList"></app-optionslist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
